{% extends 'base.html' %}

{% block header %}
<script>
if (window.opener !== null) {
    window.opener.postMessage({{ message|tojson }}, {{ origin|tojson }});
}
</script>
{% endblock %}

{% block content %}
<h1>{% block title %}{{ title }}{% endblock %}</h1>
<p>This window can now be closed.</p>
{% endblock %}
